<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
    <property name="additionalDialects">
        <set>
            <bean class="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect"/>
        </set>
    </property>
</bean>
<head>
    <title>Charts</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/newRowTableEdite.js}"></script>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Chart</a>
<!--        <span th:text="'Hello, '+${#authentication.name}" class="navbar-brand mb-0 h4"></span>-->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/logout" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div sec:authorize="isAuthenticated()" class="container">

    <form class="needs-validation mt-4" action="#" th:action="@{/editeChart}" th:object="${data}" method="post" novalidate>
        <span th:each="d, itemStat : *{dataDtoList}">
            <div hidden>
                <input type="text" th:field="*{dataDtoList[__${itemStat.index}__].chartId}">
            </div>
            <div hidden>
               <input type="text" th:field="*{dataDtoList[__${itemStat.index}__].dataId}">
            </div>
            <div hidden>
                   <input type="text" th:field="*{dataDtoList[__${itemStat.index}__].studentId}">
            </div>

            <div class="form-group mb-3 row">
                <label class="col-sm-2 col-form-label">Semester<span>:</span> </label>
                <div class="col-sm-10">
                    <input class="form-control form-control-plaintext" readonly type="text" id="semesterFieldt" th:field="*{dataDtoList[__${itemStat.index}__].semester}" required/>
                </div>
                <div class="invalid-feedback">
                    Please add a semester.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label class="col-sm-2 col-form-label">Semester Year<span>:</span> </label>
                <div class="col-sm-10">
                    <input class="form-control form-control-plaintext" readonly type="number" id="semesterYearFieldt" th:field="*{dataDtoList[__${itemStat.index}__].semesterYear}" minlength="4" th:maxlength="4" required/>
                </div>
                <div class="invalid-feedback">
                    Please add a semester.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="container">
                <div class="row clearfix">
                    <div class="col-12 table-responsive">
                        <table class="table table-hover table-sortable" th:id="'modgrad_table' + ${itemStat.index}">
                            <thead>
                            <tr >
                                <th class="text-center">
                                    Module
                                </th>
                                <th class="text-center">
                                    Grade
                                </th>
                                <th class="text-center">
                                    Label
                                </th>
                                <th class="text-center">
                                    Credits
                                </th>
                                <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="t, i : *{dataDtoList[__${itemStat.index}__].grades}">
                               <td data-name="module">
                                    <input class="form-control" th:field="*{dataDtoList[__${itemStat.index}__].grades[__${i.index}__].module}" placeholder='Module' required/>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please add a module.
                                    </div>
                                </td>
                                <td data-name="grade">
                                    <input class="form-control" type="number" th:field="*{dataDtoList[__${itemStat.index}__].grades[__${i.index}__].grade}" placeholder='Grade' th:max="5" th:min="1" required/>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please add a grade fom 1 to 5.
                                    </div>
                                </td>
                                <td data-name="credits">
                                    <input class="form-control" type="number" th:field="*{dataDtoList[__${itemStat.index}__].grades[__${i.index}__].credits}" placeholder="Credits" required/>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please add the credits of the module.
                                    </div>
                                </td>
                                <td data-name="del">
                                    <script>
                                        function RemoveRow() {
                                            var td = event.target.parentNode;
                                            var tr = td.parentNode;
                                            tr.parentNode.removeChild(tr);
                                        }
                                    </script>
                                    <button id="deleteRow" name="del0" type="button" onclick="RemoveRow()" class='btn btn-danger'><span aria-hidden="true">x</span></button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <div class="text-center">
            <button type="button" th:id="'add' + ${itemStat.index}" class="btn btn-primary" th:onclick="|addField('${itemStat.index}')|">
                Add Row
            </button>
        </div>
        </span>
        <button type="submit" class="btn btn-info">Submit</button>

    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>