<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
    <property name="additionalDialects">
        <set>
            <bean class="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect"/>
        </set>
    </property>
</bean>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
<!--    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<!-- As a link -->
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="/home">Chart</a>
<!--        <span th:text="'Hello, '+${#authentication.name}" class="navbar-brand mb-0 h4"></span>-->

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/globalChart" th:href="@{/globalChart}">Global Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid m-3 h2 text-center" th:text="${noChart}"></div>

<div class="container vh-100 vw-100">
<!--<div class="container text-center">-->
    <div class="container row d-flex text-center align-items-center justify-content-center vh-100 vw-100">
        <div class="col-lg-6 col-md-12 col-sm-12" th:each="chartModel, iSat: ${charts}">

            <canvas th:id="${chartModel.chartId}"></canvas>

            <div class="btn-group" role="group">
                <a th:id="'addButton' + ${chartModel.chartId}" th:href="@{/addData(chartId=${chartModel.chartId}, chartLabel=${chartModel.chartLabel})}" class="btn btn-sm btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
                <a th:id="'editeButton' + ${chartModel.chartId}" th:href="@{/editeChart(chartId=${chartModel.chartId})}" class="btn btn-sm btn-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
                <a th:id="'deleteButton' + ${chartModel.chartId}" th:href="@{/deleteChart(chartId=${chartModel.chartId})}" class="btn btn-sm btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>

                <div th:id="'childChartDropDown' + ${chartModel.chartId}" class="dropdown-center ms-3">
                    <button th:id="'childChartBut' + ${chartModel.chartId}" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Module Chart
                    </button>
                    <ul th:id="'childChartList1' + ${chartModel.chartId}" class="dropdown-menu">
                        <li th:id="'childChartListItem' + ${chartModel.chartId}">
<!--                            <a th:id="'childChartLink' + ${chartModel.chartId}" class="dropdown-item" href="#">Action</a>-->
                            <form th:id="'childChartForm1' + ${chartModel.chartId}" class="needs-validation row" th:action="@{/addChildChart(motherChartId=${chartModel.chartId},chartLabel='MODULE',chartType='LINE')}" method="post" novalidate>
                                <button th:id="'childChartFormBtn1' + ${chartModel.chartId}" type="submit" class="btn btn-link">Line Chart</button>
                            </form>
                        </li>
                        <li th:id="'childChartListItem' + ${chartModel.chartId}">
                            <form th:id="'childChartForm2' + ${chartModel.chartId}" class="needs-validation row" th:action="@{/addChildChart(motherChartId=${chartModel.chartId},chartLabel='MODULE' ,chartType='BAR')}" method="post" novalidate>
                                <button th:id="'childChartFormBtn2' + ${chartModel.chartId}" type="submit" class="btn btn-link">Module Chart</button>
                            </form>
                            <!--                            <a th:id="'childChartLink' + ${chartModel.chartId}" class="dropdown-item" href="#">Action</a>-->
                        </li>
                    </ul>
                </div>




            </div>
        </div>
    </div>
<!--</div>-->

<script type="text/javascript" th:inline="javascript">

    for (const  chartModel of [[${charts}]]){
        const ctx = document.getElementById(chartModel.chartId).getContext('2d');

        var editeButton = document.getElementById("editeButton" + chartModel.chartId.toString());
        var addButton = document.getElementById("addButton" + chartModel.chartId.toString());
        var childChartDropDown = document.getElementById("childChartDropDown" + chartModel.chartId.toString());

        let reversed = false;
        let max;
        let min;

        if (chartModel.chartLabel === "GRADES"){
            reversed = true;
            max = 5;
            min = 1;
        }else if (chartModel.chartLabel === "MODULES"){
            editeButton.setAttribute("hidden", "");
            addButton.setAttribute("hidden", "");
            childChartDropDown.setAttribute("hidden", "");
            reversed = false;
        }
        const myChart = new Chart(ctx, {
            type: chartModel.chartType.toString().toLowerCase(),
            data: {
                labels: chartModel.chartX,
                datasets: [{
                    label: chartModel.chartLabel,
                    data: chartModel.chartY,
                    backgroundColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 2,
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        reverse: reversed,
                        max: max,
                        min: min,
                    }
                }
            }
        });
    }

</script>

    <div class="position-sticky bottom-0 end-0 m-1 float-end">

        <div class="btn-group dropend ms-3">
            <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-plus-circle"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <form th:id="newChartFrm" class="needs-validation row" th:action="@{/create(chartLabel='GRADES' ,chartType='BAR')}" method="post" novalidate>
                        <button th:id="newChartBtn" type="submit" class="btn btn-link">Grades Bar Chart</button>
                    </form>
                </li>
                <li>
                    <form th:id="newChartFrm" class="needs-validation row" th:action="@{/create(chartLabel='GRADES' ,chartType='LINE')}" method="post" novalidate>
                        <button th:id="newChartBtn" type="submit" class="btn btn-link">Grades Line Chart</button>
                    </form>
                </li>
            </ul>
        </div>
<!--        <a href="/create" th:href="@{/create}" class="">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">-->
<!--                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>-->
<!--            </svg>-->
<!--        </a>-->
    </div>
</div>
<!--<form action="/logout" method="post">-->
<!--    <button type="submit" class="btn btn-text nav-link" role="button">-->
<!--        Logout-->
<!--    </button>-->
<!--</form>-->
</body>
</html>