<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
    <property name="additionalDialects">
        <set>
            <bean class="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect"/>
        </set>
    </property>
</bean>
<head>
    <title>Charts</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/addInputField.js}"></script>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Chart</a>
<!--        <span th:text="'Hello, '+${#authentication.name}" class="navbar-brand mb-0 h4"></span>-->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/logout" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div sec:authorize="isAuthenticated()" class="container">
    <form class="needs-validation row w-70 h-100" action="#" id="newDataForm" th:action="@{/addData(chartId=${chartId}, chartLabel='MODULE')}"
          th:object="${data}" method="post" novalidate>

        <div class="input-group mb-3">
            <div class="col-12 mb-3 mt-3">
                <label class="form-label" for="semesterField">Semester<span>:</span> </label>
                <select class="form-select" aria-label="Semester Select" id="semesterField" th:field="*{semester}" required>
                    <option value="SS">SS</option>
                    <option value="WS">WS</option>
                </select>
                <div id="semesterHelp" class="form-text">Choose SS for Summer semester or WS for Winter Semester.</div>
                <!--            <input class="form-control" type="text" id="semesterField" th:field="*{semester}" required/>-->
                <div class="invalid-feedback">
                    Please add a semester.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-12 mb-3">
                <label class="form-label" for="semesterYearField">Semester Year<span>:</span> </label>
                <input class="form-control" type="number" id="semesterYearField" th:field="*{semesterYear}" th:max="9999" th:min="1000" required/>
                <div class="invalid-feedback">
                    This Semester exists already.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <script type="text/javascript" th:inline="javascript">
                var form = document.getElementById("newDataForm");

                var button = document.getElementById("subNewData");
                var semesters = [[${semesters}]];
                var semesterYear = document.getElementById("semesterYearField");
                var semester = document.getElementById("semesterField");


                 function checkSemesterValidity(el) {
                    var semesterLabel = semester.value.toString() + semesterYear.value.toString();
                    var valid;
                    if (semesters.includes(semesterLabel)){
                        valid = false;
                    }else {
                        valid = true;
                    }
                    if(valid) {
                        el.classList.add("is-valid");
                        el.classList.remove("is-invalid");
                        el.setCustomValidity("");
                    } else {
                        el.classList.remove("is-valid");
                        el.classList.add("is-invalid");
                        el.setCustomValidity("invalid");
                    }

                    return valid;

                }

                semesterYear.addEventListener('blur', function (event) {
                    if(event.relatedTarget != button) checkSemesterValidity(this);
                }, false)

                semesterYear.addEventListeer('change', function (event) {
                    this.classList.remove("is-invalid");
                    this.setCustomValidity("");
                }, false);

                var form = document.getElementByClassName('needs-validation');

                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity() === false || checkSemesterValidity(semester) === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
            </script>

        <div class="container">
            <div class="row clearfix">
                <div class="col-12 table-responsive">
                    <table class="table table-hover table-sortable" id="modgrad_table">
                        <thead>
                        <tr >
                            <th class="text-center">
                                Module
                            </th>
                            <th class="text-center">
                                Grade
                            </th>
                            <th class="text-center">
                                Credits
                            </th>
                            <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id='module_row0' data-id="0">
                            <td data-name="module">
                                <input class="form-control" id="grades0.module" type="text" name="grades[0].module" placeholder='Module' required/>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a module.
                                </div>
                            </td>
                            <td data-name="grade">
                                <input class="form-control" id="grades0.grade" type="number" name="grades[0].grade" placeholder='Grade' th:max="5" th:min="1" required/>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a grade fom 1 to 5.
                                </div>
                            </td>
                            <td data-name="credits">
                                <input class="form-control" id="grades0.credits" type="number" name="grades[0].credits" placeholder="Credits" required/>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter the credits of the module.
                                </div>
                            </td>

                            <td data-name="del">
                                <script>
                                    function RemoveRow() {
                                        var td = event.target.parentNode;
                                        var tr = td.parentNode;
                                        tr.parentNode.removeChild(tr);
                                    }
                                </script>

                                <button id="deleteRow" name="del0" type="button" onclick="RemoveRow()" class='btn btn-danger'><span aria-hidden="true">x</span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center">
                <button type="button" id="addButton" class="btn btn-primary" th:onclick="|addField('one')|">
                    Add Row
                </button>
            </div>

        </div>
        </div>
        <button type="submit" id="subNewData" class="btn btn-success m-4">Submit</button>

    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>